#extends FTGTemplate

#attr prologue = '! ================= BEGIN FORTRAN TEST GENERATOR (FTG) ======================='

#attr epilogue = '! ================= END FORTRAN TEST GENERATOR (FTG) ========================='

#def captureBeforeContains
    $include('BaseCompare/capture.beforecontains.tmpl')
#end def captureBeforeContains

#def captureAfterLastSpecification
    $include('BaseCompare/capture.afterlastspecification.tmpl')
#end def captureAfterLastSpecification

#def captureBeforeEnd
    $include('BaseCompare/capture.beforeend.tmpl')
#end def captureBeforeEnd

#def captureAfterSubroutine
    $include('BaseCompare/capture.aftersubroutine.tmpl')
#end def captureAfterSubroutine

#def export
    $include('BaseCompare/export.beforecontains.tmpl')
#end def export

#def replay
    $include('BaseCompare/replay.test.tmpl')
#end def replay

#def ftgWrite($var)
    #set global $ftgWrite_var = $var
    $include('BaseCompare/capture.ftgWrite.tmpl')
#end def ftgWrite

#def ftgRead($var)
    #set global $ftgRead_var = $var
    $include('BaseCompare/replay.ftgRead.tmpl')
#end def ftgRead

#def ftgCompare($var)
    #set global $ftgCompare_var = $var
    $include('IconCompare/replay.ftgCompare.tmpl')
#end def ftgCompare