#set $var = $ftgWrite_var
#if $var.dim > 4 or $var.type.upper().startswith('CHARACTER'):
  ! *** WARNING: Type not supported by serialbox *** 
  !     $var 
  !     $var.type, DIMENSION($var.dim)
#else
  #set $closeStatements = []
  #set $mandDim = $var.mandatoryDimensions
  #set $indices = ['ftg_d1', 'ftg_d2', 'ftg_d3', 'ftg_d4', 'ftg_d5', 'ftg_d6']
  #set $d = 0
  #set $ad = 0
  #set $aliasVar = $var
  #set $filledVar = $fillIndices($var, $mandDim, *$indices)
  #set $filledAlias = $filledVar
  #for $level in $var.levels
    #set $container = $aliasVar.container($level - ($var.level - $aliasVar.level))
    #set $filledContainer = $fillIndices($container, $ad, *$indices[$d - $ad:])
    #if $container.polymorph
      #set $alias = 'polym' + str($level)
      SELECT TYPE ($alias => $filledContainer) $mergeBegin('switch' + str($level))
      TYPE IS ($container.dynamicType) $mergeBegin('switch' + str($level))
      #silent $closeStatements.append('END SELECT ' + $mergeEnd('switch' + str($level)))
      #set $aliasVar = $var.alias($alias, $level) 
      #set $filledAlias = $filledVar.alias($alias, $level) 
      #set $ad = 0
    #else
      #set $aa = $allocatedOrAssociated($filledContainer, $level)
      #if $aa
        IF ($aa) THEN $mergeBegin('if' + str($level))
        #silent $closeStatements.append('END IF ' + $mergeEnd('if' + str($level)))
      #end if
    #end if
    #if $level < $var.level and $needsRegistration($filledContainer)
      #if $d > 0
        $writeVarNameWithFilledIndicesToString($container, "ftg_name", $d, *$indices)
        #set $contName = 'ftg_name'
      #else 
        #set $contName = '"' + str($container) + '"'
      #end if
      #set $contType = $container.type
      #if $d < $container.totalDim
        CALL ftg_register_only($contName, "$contType", LBOUND($filledContainer), UBOUND($filledContainer))
      #else
        CALL ftg_register_only($contName, "$contType")
      #end if
      #silent $setRegistered($filledContainer) 
    #end if
    #if $d < $mandDim
      #set $loopDims = range($d + 1, $d + $container.dim + 1) 
      #set $d += $container.dim
      #set $ad += $container.dim
      #set $cd = 0
      #for $ld in $loopDims
        #set $cd += 1
        DO ftg_d$ld = LBOUND($filledContainer, $cd), UBOUND($filledContainer, $cd) $mergeBegin('do' + str($level))
        #silent $closeStatements.append('END DO ' + $mergeEnd('do' + str($level)))
      #end for        
    #end if      
  #end for
  #if $mandDim > 0
    $writeVarNameWithFilledIndicesToString($var, 'ftg_name', $mandDim, 'ftg_d1', 'ftg_d2', 'ftg_d3', 'ftg_d4', 'ftg_d5', 'ftg_d6')
    #set $varName = 'ftg_name'
  #else 
    #set $varName = '"' + str($var) + '"'
  #end if
  #if $mandDim < $var.totalDim
    CALL ftg_write($varName, $filledAlias, LBOUND($filledAlias), UBOUND($filledAlias))
  #else
    CALL ftg_write($varName, $filledAlias)
  #end if
  #for $close in reversed($closeStatements)
    $close
  #end for
  #if 'END DO' in [s[0:6] for s in $closeStatements]
  
  #end if
#end if  