$prologue

ftg_${subroutine.name}_round = ftg_${subroutine.name}_round + 1
IF (ftg_${subroutine.name}_capture_active()) THEN
  CALL ftg_${subroutine.name}_capture_data($commaList("'input'", $args))
END IF

$epilogue