$prologue

INTEGER :: ftg_${subroutine.name}_capture_round = 1
INTEGER :: ftg_${subroutine.name}_round = 0
CHARACTER(len=1024) :: ftg_${subroutine.name}_input_dir = '${dataDir}/ftg_${subroutine.name}_test/input'
CHARACTER(len=1024) :: ftg_${subroutine.name}_output_dir = '${dataDir}/ftg_${subroutine.name}_test/output'

$epilogue