#if $globals.exports or $module.name == $subroutine.moduleName and $subroutine.export
  $prologue
  
  $globals.exports
  #if $module.name == $subroutine.moduleName
    $subroutine.export
  #end if
  sdsd
  
  $epilogue  
#end if