#if $globals.exports or $module.name == $subroutine.moduleName and $subroutine.export
\#ifdef __FTG__
  $prologue
  
  $globals.exports
  #if $module.name == $subroutine.moduleName
    $subroutine.export
  #end if
  
  $epilogue  
\#endif
#end if