#set $var = $ftgWriteInner_var
#set $filledAlias = $ftgWriteInner_filleAlias
#set $mandDim = $var.mandatoryDimensions
#if $mandDim > 0
  $writeVarNameWithFilledIndicesToString($var, "ftg_c", $mandDim, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
  #set $varName = 'ftg_c'
#else 
  #set $varName = '"' + str($var) + '"'
#end if
#if $mandDim < $var.totalDim
  CALL ftg_write($varName, $filledAlias, LBOUND($filledAlias), UBOUND($filledAlias))
#else
  CALL ftg_write($varName, $filledAlias)
#end if