#set $var = $ftgWrite_var
#if $dim($var) > 4 or $type($var).upper().startswith('CHARACTER'):
  ! *** WARNING: Type not supported by serialbox *** 
  !     $var 
  !     $type($var) | dimension: $dim($var)
#else
  #if $isReferencable($var)
    #if $containerNeedsRegistration($var)
      #for $level in $levels($var)[:-1]
        #set $container = $getExpression($var, $level)
        #set $contType = $type($container)
        #set $contDim = $dim($container)
        #if $needsRegistration($container)
          #set $aa = $allocatedOrAssociated($container, $contDim, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
          #if $aa
            IF ($aa) THEN
          #end if
          #if $isArray($container)
            CALL ftg_register_only("$container", "$contType", LBOUND($container), UBOUND($container))$setRegistered($container)
          #else
            CALL ftg_register_only("$container", "$contType")$setRegistered($container)
          #end if $setRegistered($container) 
          #if $aa
            END IF
          #end if
        #end if
      #end for
    #end if
    #set $aa = $allocatedOrAssociated($var, 0)
    #if $aa
      IF ($aa) THEN
    #end if
    #if $isArray($var)
      CALL ftg_write("$var", $var, LBOUND($var), UBOUND($var))
    #else
      CALL ftg_write("$var", $var)
    #end if  
    #if $aa
      END IF
    #end if
  #else
  
    #set $mandDims = $getNumberOfMandatoryDimensions($var)
    #set $topContainer = $var
    #set $aa = '' 
    #set $ifAA = ''
    #for $d in range(1, $mandDims + 1)
      #set $topContainer = $getContainer($var, $d)
      #for $level in $levels($topContainer)
        #set $container = $getExpression($topContainer, $level)
        #set $contType = $type($container)
        #set $contDim = $dim($container)
        #if $needsRegistration($container)
          #set $filledContainer = $fillIndices($container, $d - 1, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
          #set $caa = $allocatedOrAssociated($container, $d - 1, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
          #if $caa
            IF ($caa) THEN
          #end if
          $writeVarNameWithFilledIndicesToString($container, "ftg_c", $d - 1, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
          #if ($d - 1) < $totalDim($container)
            CALL ftg_register_only(ftg_c, "$contType", LBOUND($filledContainer), UBOUND($filledContainer))$setRegistered($container)
          #else
            CALL ftg_register_only(ftg_c, "$contType")$setRegistered($container)
          #end if 
          #if $caa
            END IF
          #end if
        #end if
      #end for
      #set $aaNew = $allocatedOrAssociated($container, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
      #if $aaNew and $aaNew != $aa
        IF ($aaNew) THEN
        #set $ifAA += '1' 
        #set $aa = $aaNew 
      #else
        #set $ifAA += '0'
        #if $aaNew != $aa
          #set $aa = $aaNew
        #end if
      #end if
      DO ftg_d$d = $lbound($var, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4"), $ubound($var, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #end for
    #set $caa = '' 
    #set $ifCAA = ''
    #for $level in sorted(set($levels($var)[:-1]) - set($levels($topContainer)))
      #set $container = $getExpression($var, $level)
      #set $caaNew = $allocatedOrAssociated($container, $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
      #if $caaNew and $caaNew != $caa
        IF ($caaNew) THEN
        #set $ifCAA += '1' 
        #set $caa = $caaNew 
      #else
        #set $ifCAA += '0'
        #if $caaNew != $caa
          #set $caa = $caaNew
        #end if
      #end if
      #if $needsRegistration($container)
        #set $contType = $type($container)
        $writeVarNameWithFilledIndicesToString($container, "ftg_c", $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")        
        #if $mandDims < $totalDim($container)
          #set $filledContainer = $fillIndices($container, $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
          CALL ftg_register_only(ftg_c, "$contType", LBOUND($filledContainer), UBOUND($filledContainer))$setRegistered($container)
        #else
          CALL ftg_register_only(ftg_c, "$contType")$setRegistered($container)
        #end if 
      #end if
    #end for
    $writeVarNameWithFilledIndicesToString($var, "ftg_c", $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #set $filled = $fillIndices($var, $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #if $mandDims < $totalDim($var)
      CALL ftg_write(ftg_c, $filled, LBOUND($filled), UBOUND($filled))
    #else
      CALL ftg_write(ftg_c, $filled)
    #end if
    #for $level in sorted(set($levels($var)[:-1]) - set($levels($topContainer)))
      #if $ifCAA[-1] == '1'
        END IF
      #end if
      #set $ifCAA = $ifCAA[:-1]
    #end for
    #for $d in range(1, $mandDims + 1)
      END DO
      #if $ifAA[-1] == '1'
        END IF
      #end if
      #set $ifAA = $ifAA[:-1]
    #end for
  #end if
#end if