$prologue $mergeBegin('ftg')
$mergeBegin('ftg')
LOGICAL :: ftg_${subroutine.name}_capture_active_local

ftg_${subroutine.name}_round = ftg_${subroutine.name}_round + 1
ftg_${subroutine.name}_capture_active_local = ftg_${subroutine.name}_capture_active()
IF (ftg_${subroutine.name}_capture_input_enabled .AND. ftg_${subroutine.name}_capture_active_local) THEN
  CALL ftg_${subroutine.name}_capture_data($commaList("'input'", $args))
END IF

$epilogue $mergeEnd('ftg')