$prologue $mergeBegin('ftg')
$mergeBegin('ftg')
SUBROUTINE ftg_write_mpi_comm(fieldname, comm)

  USE mpi
  USE m_ser_ftg, ONLY: ftg_write

  CHARACTER(LEN=*), INTENT(IN) :: fieldname
  INTEGER, INTENT(IN)          :: comm

  INTEGER :: world_rank, world_rank_bit, color, group, rank, error

  IF (comm /= MPI_COMM_NULL) THEN
    ! Attention! This color calculation only works with at most 31 processes
    CALL MPI_COMM_RANK(MPI_COMM_WORLD, world_rank, error)
    world_rank_bit = ibset(0, world_rank)
    ! If this leads to an "Invalid communicator" error,
    ! comment or remove the current call to ftg_write_mpi_comm
    ! or initialize/set the variable passed as comm to MPI_COMM_NULL.
    ! Be careful as your solution will apply to all processes!
    CALL MPI_ALLREDUCE(world_rank_bit, color, 1, MPI_INT, MPI_BOR, comm, error)
    CALL MPI_COMM_RANK(comm, rank, error)
  ELSE
    color = MPI_UNDEFINED
    rank = MPI_PROC_NULL
  END IF

  CALL ftg_write(fieldname, comm)
  CALL ftg_write(TRIM(fieldname)//'@color', color)
  CALL ftg_write(TRIM(fieldname)//'@rank', rank)

END SUBROUTINE ftg_write_mpi_comm
  
$epilogue $mergeEnd('ftg')