#extends Standalone

#def captureAfterSubroutine
  #super
  $include('CesmStandalone/capture.aftersubroutine.tmpl')
#end def captureAfterSubroutine

#def ftgWriteInner($var, $filledAlias)
  #set global $ftgWriteInner_var = $var
  #set global $ftgWriteInner_filledAlias = $filledAlias
  $include('CesmStandalone/capture.ftgWriteInner.tmpl')
#end def ftgWriteInner

#def replay
  $include('CesmStandalone/replay.tmpl')
#end def replay

#def ftgReadInner($var, $filledAlias)
  #set global $ftgReadInner_var = $var
  #set global $ftgReadInner_filledAlias = $filledAlias
  $include('CesmStandalone/replay.ftgReadInner.tmpl')
#end def ftgReadInner

#def ftgCompareInner($var, $filledAlias)
  #set global $ftgCompareInner_var = $var
  #set global $ftgCompareInner_filledAlias = $filledAlias
  $include('CesmStandalone/replay.ftgCompareInner.tmpl')
#end def ftgCompareInner