#set $var = $ftgCompareInner_var
#set $filledAlias = $ftgCompareInner_filledAlias
#set $mandDim = $var.mandatoryDimensions
#if $mandDim > 0
  $writeVarNameWithFilledIndicesToString($var, 'ftg_name', $mandDim, 'ftg_d1', 'ftg_d2', 'ftg_d3', 'ftg_d4', 'ftg_d5', 'ftg_d6')
  #set $varName = 'ftg_name'
#else 
  #set $varName = '"' + str($var) + '"'
#end if
#if $mandDim < $var.totalDim
  CALL ftg_compare($varName, $filledAlias, result, failure_count, LBOUND($filledAlias), UBOUND($filledAlias))
#elif not ($var.container.type == 'type(t_fvdycore_grid)' and $var.lastname.startswith('comm'))
  CALL ftg_compare($varName, $filledAlias, result, failure_count)
#end if
$clearLine