#if $subroutine.calls('__mo_jsb_interface_MOD_interface_full')
$prologue $mergeBegin('ftg')
$mergeBegin('ftg')
USE mo_jsb_interface_mock, ONLY: jsbmock_start_capture, jsbmock_stop, jsbmock_capture_active

$epilogue $mergeEnd('ftg')
#end if