#if $subroutine.calls('__mo_jsb_interface_MOD_interface_full')
$prologue $mergeBegin('ftg')
$mergeBegin('ftg')
IF (jsbmock_capture_active()) THEN
  CALL ftg_${subroutine.name}_stop_jsbach_capture()
END IF

$epilogue $mergeEnd('ftg')
#end if