#if $subroutine.calls('__mo_jsb_interface_MOD_interface_full')
$prologue

IF (ftg_${subroutine.name}_capture_input_active()) THEN
  CALL ftg_${subroutine.name}_start_jsbach_capture()
END IF

$epilogue
#end if