#if $subroutine.calls('__mo_jsb_interface_MOD_interface_full')
$prologue $mergeBegin('ftg')
$mergeBegin('ftg')
CHARACTER(len=1024) :: ftg_${subroutine.name}_jsbach_dir = '$dataDir/ftg_${subroutine.name}_test/jsbach'
PUBLIC :: ftg_${subroutine.name}_jsbach_dir

$epilogue $mergeEnd('ftg')
#end if