#if $module.calledHere('__mo_jsb_interface_MOD_interface_full')
  $prologue $mergeBegin('ftg')
  $mergeBegin('ftg')
  USE mo_jsb_interface_mock, ONLY: jsbach_interface
  
  $epilogue $mergeEnd('ftg')
#end if