#extends FTGTemplate

#def captureBeforeContains
CAPTURE BEFORE CONTAINS
#end def captureBeforeContains

#def captureAfterLastSpecification
CAPTURE AFTER LAST SPECIFICATION
#end def captureAfterLastSpecification

#def captureBeforeEnd
CAPTURE BEFORE END
#end def captureBeforeEnd

#def captureAfterSubroutine
CAPTURE AFTER SUBROUTINE
#end def captureAfterSubroutine

#def export
EXPORT
#end def export

#def replay
REPLAY
#end def replay