#extends FTGTemplate

#def captureAfterUse
CAPTURE AFTER USE
#end def captureAfterUse

#def captureBeforeContains
CAPTURE BEFORE CONTAINS
#end def captureBeforeContains

#def captureAfterLastSpecification
CAPTURE AFTER LAST SPECIFICATION
#end def captureAfterLastSpecification

#def captureBeforeEnd
CAPTURE BEFORE END
#end def captureBeforeEnd

#def captureAfterSubroutine
CAPTURE AFTER SUBROUTINE
#end def captureAfterSubroutine

#def exportAfterUse
EXPORT AFTER USE
#end def exportAfterUse

#def exportBeforeContains
EXPORT BEFORE CONTAINS
#end def exportBeforeContains

#def replay
REPLAY
#end def replay