#extends Standalone

#def captureAfterSubroutine
  $include('StandaloneNoMPI/capture.aftersubroutine.tmpl')
#end def captureAfterSubroutine

#def replay
  $include('StandaloneNoMPI/replay.tmpl')
#end def replay
