  ! ================= BEGIN FORTRAN TEST GENERATOR (FTG) =======================
  
  CALL ftg_${subroutine.name}_capture_output(${args.allOut.joinNames})
  
  ! ================= END FORTRAN TEST GENERATOR (FTG) =========================  