  ! ================= BEGIN FORTRAN TEST GENERATOR (FTG) =======================
  
  CALL ftg_${subroutine.name}_capture_output(${arguments.output.names})
  
  ! ================= END FORTRAN TEST GENERATOR (FTG) =========================  