#set $export = $globals.exports
#if $export
  ! ================= BEGIN FORTRAN TEST GENERATOR (FTG) =======================
  
  $export
  
  ! ================= END FORTRAN TEST GENERATOR (FTG) =========================  
#end if