#set $var = $ftgCompare_var
#if $var.dim > 4 or $var.type.upper().startswith('CHARACTER'):
  ! *** WARNING: Type not supported by serialbox *** 
  !     $var 
  !     $var.type, DIMENSION($var.dim)
#else 
  #if $var.referencable
    #if $var.containsArray
      CALL ftg_compare("$var", $var, result, failure_count, LBOUND($var), UBOUND($var))
    #else
      CALL ftg_compare("$var", $var, result, failure_count)
    #end if  
  #else
  
    #set $mandDims = $var.mandatoryDimensions
    #set $topContainer = $var
    #set $aa = '' 
    #set $ifAA = ''
    #for $d in range(1, $mandDims + 1)
      #set $topContainer = $var.containerByDimension($d)
      DO ftg_d$d = $lbound($var, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4"), $ubound($var, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #end for
    #set $caa = '' 
    $writeVarNameWithFilledIndicesToString($var, "ftg_name", $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #set $filled = $fillIndices($var, $mandDims, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
    #if $mandDims < $var.totalDim
      CALL ftg_compare(ftg_name, $filled, result, failure_count, LBOUND($filled), UBOUND($filled))
    #else
      CALL ftg_compare(ftg_name, $filled, result, failure_count)
    #end if
    #for $d in range(1, $mandDims + 1)
      END DO
    #end for
  #end if
#end if
$clearLine