  ! ================= BEGIN FORTRAN TEST GENERATOR (FTG) =======================
  
  LOGICAL :: ftg_${subroutine.name}_capture_input_enabled = .TRUE.
  LOGICAL :: ftg_${subroutine.name}_capture_output_enabled = .TRUE.
  INTEGER :: ftg_${subroutine.name}_capture_round = 1
  INTEGER :: ftg_${subroutine.name}_round = 0
  
  PUBLIC :: ftg_${subroutine.name}_capture_input_enabled, ftg_${subroutine.name}_capture_output_enabled, ftg_${subroutine.name}_capture_round
  
  ${globals.exports}
  ${subroutine.export}
  
  ! ================= END FORTRAN TEST GENERATOR (FTG) =========================  