#set $var = $ftgWrite_var
#if $var.dim > 4 or $var.type.upper().startswith('CHARACTER'):
  ! *** WARNING: Type not supported by serialbox *** 
  !     $var 
  !     $var.type, DIMENSION($var.dim)
#else
  #if $var.referencable
    #set $closeStatements = []
    #set $aliasVar = $var
    #for $level in $var.levels
      #set $container = $aliasVar.container($level - ($var.level - $aliasVar.level))
      #if $container.polymorph
        #set $alias = 'polym' + str($level)
        SELECT TYPE ($alias => $container)
        TYPE IS ($container.dynamicType)
        #silent $closeStatements.append('END SELECT')
        #set $aliasVar = $var.alias($alias, $level) 
      #else
        #set $aa = $allocatedOrAssociated($container, $level)
        #if $aa
          IF ($aa) THEN
          #silent $closeStatements.append('END IF')
        #else
          #silent $closeStatements.append($clearLine)
        #end if
      #end if
      #if $level < $var.level and $needsRegistration($container)
        #set $contType = $container.type
        #if $container.containsArray
          CALL ftg_register_only("$container", "$contType", LBOUND($container), UBOUND($container))
        #else
          CALL ftg_register_only("$container", "$contType")
        #end if
        #silent $setRegistered($container) 
      #end if
    #end for
    #if $var.containsArray
      CALL ftg_write("$var", $aliasVar, LBOUND($aliasVar), UBOUND($aliasVar))
    #else
      CALL ftg_write("$var", $aliasVar)
    #end if  
    #for $close in reversed($closeStatements)
      $close
    #end for
  #else
  
    #set $closeStatements = []
    #set $mandDims = $var.mandatoryDimensions
    #set $d = 0
    #set $aliasVar = $var
    #for $level in $var.levels
      #set $container = $aliasVar.container($level - ($var.level - $aliasVar.level))
      #set $filledContainer = $fillIndices($container, $d, "ftg_d1", "ftg_d2", "ftg_d3", "ftg_d4")
      #if $container.polymorph
        #set $alias = 'polym' + str($level)
        SELECT TYPE ($alias => $filledContainer)
        TYPE IS ($container.dynamicType)
        #silent $closeStatements.append('END SELECT')
        #set $aliasVar = $var.alias($alias, $level) 
      #else
        #set $aa = $allocatedOrAssociated($filledContainer, $level)
        #if $aa
          IF ($aa) THEN
          #silent $closeStatements.append('END IF')
        #else
          #silent $closeStatements.append($clearLine)
        #end if
      #end if
      #if $level < $var.level and $needsRegistration($filledContainer)
        #set $contType = $container.type
        #if $mandDims < $var.totalDim
          CALL ftg_register_only("$filledContainer", "$contType", LBOUND($filledContainer), UBOUND($filledContainer))
        #else
          CALL ftg_register_only("$filledContainer", "$contType")
        #end if
        #silent $setRegistered($filledContainer) 
      #end if
      #if $d < $mandDims
        #set $loopDims = range($d + 1, $container.dim() + 1) 
        #set $d = $container.dim()
        #set $cd = 0
        #for $ld in $loopDims
          #set $cd += 1
          DO ftg_d$d = LBOUND($filledContainer, $cd), UBOUND($filledContainer, $cd)
          #silent $closeStatements.append('END DO')
        #end for        
      #end if      
    #end for
    #if $var.containsArray
      CALL ftg_write("$var", $aliasVar, LBOUND($aliasVar), UBOUND($aliasVar))
    #else
      CALL ftg_write("$var", $aliasVar)
    #end if  
    #for $close in reversed($closeStatements)
      $close
    #end for
  #end if  
#end if
$clearLine