#extends IconCompare

#def replay
    $include('IconDeferred/replay.test.tmpl')
#end def replay

#def ftgReadInner($var, $filledAlias)
    #set global $ftgReadInner_var = $var
    #set global $ftgReadInner_filleAlias = $filledAlias
    $include('IconDeferred/replay.ftgReadInner.tmpl')
#end def ftgReadInner