$prologue

ftg_${subroutine.name}_round = ftg_${subroutine.name}_round + 1
CALL ftg_${subroutine.name}_capture_input($commaList($args))
#if $subroutine.calls('__mo_jsb_interface_MOD_interface_full')
  CALL ftg_${subroutine.name}_start_jsbach_capture()
#end if

$epilogue