#extends IconCompare

#def captureAfterUse
    $include('IconCommunicationAndJsbach/capture.afteruse.tmpl')
#end def captureAfterUse

#def captureBeforeContains
    $include('IconCommunicationAndJsbach/capture.beforecontains.tmpl')
#end def captureBeforeContains

#def captureAfterLastSpecification
    $include('IconCommunicationAndJsbach/capture.afterlastspecification.tmpl')
#end def captureAfterLastSpecification

#def captureBeforeEnd
    $include('IconCommunicationAndJsbach/capture.beforeend.tmpl')
#end def captureBeforeEnd

#def captureAfterSubroutine
    $include('IconCommunicationAndJsbach/capture.aftersubroutine.tmpl')
#end def captureAfterSubroutine

#def replay
    $include('IconCommunicationAndJsbach/replay.test.tmpl')
#end def replay