#set $var = $ftgReadInner_var
#set $filledAlias = $ftgReadInner_filledAlias
#if $var.type.upper().startswith('CHARACTER')
  #set $mandDim = $var.totalDim
#else
  #set $mandDim = $var.mandatoryDimensions
#end if
#if $mandDim > 0
  $writeVarNameWithFilledIndicesToString($var, 'ftg_name', $mandDim, 'ftg_d1', 'ftg_d2', 'ftg_d3', 'ftg_d4', 'ftg_d5', 'ftg_d6')
  #set $varName = 'ftg_name'
#else 
  #set $varName = '"' + str($var) + '"'
#end if
#if $needsAllocation($var)
  #if $var.dim == 5
    CALL ftg_get_field_metainfo($varName, "ftg:sizeonedim", ftg_sizeonedim)
    ftg_bounds = ftg_get_bounds($varName)
    IF (ftg_sizeonedim == 1) THEN
      ALLOCATE(${filledAlias}(1, ftg_bounds(1):ftg_bounds(2), ftg_bounds(3):ftg_bounds(4), ftg_bounds(5):ftg_bounds(6), ftg_bounds(7):ftg_bounds(8)))
      CALL ftg_read($varName, ${filledAlias}(1,:,:,:,:))
    ELSE IF (ftg_sizeonedim == 2) THEN
      ALLOCATE(${filledAlias}(ftg_bounds(1):ftg_bounds(2), 1, ftg_bounds(3):ftg_bounds(4), ftg_bounds(5):ftg_bounds(6), ftg_bounds(7):ftg_bounds(8)))
      CALL ftg_read($varName, ${filledAlias}(:,1,:,:,:))
    ELSE IF (ftg_sizeonedim == 3) THEN
      ALLOCATE(${filledAlias}(ftg_bounds(1):ftg_bounds(2), ftg_bounds(3):ftg_bounds(4), 1, ftg_bounds(5):ftg_bounds(6), ftg_bounds(7):ftg_bounds(8)))
      CALL ftg_read($varName, ${filledAlias}(:,:,1,:,:))
    ELSE IF (ftg_sizeonedim == 4) THEN
      ALLOCATE(${filledAlias}(ftg_bounds(1):ftg_bounds(2), ftg_bounds(3):ftg_bounds(4), ftg_bounds(5):ftg_bounds(6), 1, ftg_bounds(7):ftg_bounds(8)))
      CALL ftg_read($varName, ${filledAlias}(:,:,:,1,:))
    ELSE IF (ftg_sizeonedim == 5) THEN
      ALLOCATE(${filledAlias}(ftg_bounds(1):ftg_bounds(2), ftg_bounds(3):ftg_bounds(4), ftg_bounds(5):ftg_bounds(6), ftg_bounds(7):ftg_bounds(8), 1))
      CALL ftg_read($varName, ${filledAlias}(:,:,:,:,1))
    END IF
  #elif $var.pointer
    CALL ftg_allocate_and_read_pointer($varName, $filledAlias)
  #else
    CALL ftg_allocate_and_read_allocatable($varName, $filledAlias)
  #end if
#else
  CALL ftg_read($varName, $filledAlias)
#end if
$clearLine
