#extends Standalone

#def captureAfterSubroutine
    $include('IconStandalone/capture.aftersubroutine.tmpl')
#end def captureAfterSubroutine

#def replay
    $include('IconStandalone/replay.test.tmpl')
#end def replay
